*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
/* -----------------------------------------navabr----------------------------------------- */
.entete{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD8C5;
    margin: auto;
    padding: 15px;
    font-weight: 900;
}
.barre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 1px#6d6a6a;
}

.barre .menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

a,.a{
    color: #B82330;
    text-decoration: none;
    font-weight: 600;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #B82330;
}
/* ------------------------------navbar hover--------------------------------- */

/* ***********shop all hover liste****** */
.flex-ul{
    list-style-type:none ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: normal;
    cursor: pointer;
}
.sous-nav-hover{
    position: relative;
}
.menu .sous-nav{
    display: none;
    position: absolute;
    top: 61px;
    left: -14px;
    z-index: 100;
    background-color: #fff;
}
.sous-nav-hover:hover .sous-nav{
    display: flex;
    width: 98vw;
    color: #000;
    justify-content: space-between;
}
.sous-nav-hover:hover .sous-nav ul:nth-child(1){
    border-top:2px solid #B82330;
}

/* ***************recipes and who we arehover liste**************** */
.sous-nav-hover-recipes{
    position: relative;
}
.sous-nav-recipes{
    display: none;
    width: max-content;
    position: absolute;
    top: 61px;
    z-index: 100;
    background-color: #fff;
}
.sous-nav-recipes>li{
    font-weight: normal;
    cursor: pointer;
    list-style-type: none;
    padding: 10px 20px ;
}
.sous-nav-hover-recipes:hover .sous-nav-recipes{
    display: block;
    border-top:2px solid #B82330;
}

/* ----------------------------------fin navbar hover------------------------------------- */
/* -----------------------------------bande--------------------------- */
.all{
    font-size: xx-large;
    font-weight: 600;
    color: #B82330;
    text-align: center;
    margin: 30px 0;
}
.sortband ul{
    list-style-type: none;
}
.sortband{
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgb(187, 180, 180);
    position: sticky;
    background-color: #fff;
    top: -1px;
    z-index: 10;
}
.sous{
    display: none;
    border: 1px solid rgb(187, 180, 180);
}
.listesort >ul>li:hover .sous{
    display: block;
}
.filter{
    padding: 20px 50px;
    color: rgb(74, 72, 72);
    border-left: 1px solid rgb(187, 180, 180) ;
}
.sous li{
    padding: 15px 5px ;
    font-size: 15px;
    font-weight: 600;
    color: rgb(117, 115, 115);
    cursor: pointer;
}
.sous{
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.listesort ul li{
    position: relative;
}
/* -------------------------------------produits--------------------------------------- */
.produitflex{
    display: flex;
    margin: 30px 0;
    justify-content: space-evenly;
}
.bloc-produit,.bloc-produits,.bloc-produitss{
    width: 20%;
    text-align: center;
    color:rgb(74, 72, 72) ;
}
.bloc-produit i,.bloc-produits i,.bloc-produitss i{
    color: #E5A0AF;
    font-size: 15px;
}
.back:hover{
    content: url("./img/Prana_produit_siteweb_OCT2022_sunflower2_400x.jpg");
    width: 100%;
   position: relative;
   cursor: pointer;
}
.bloc-produit img,.bloc-produits img,.bloc-produitss img{
    width: 100%;
}
.back1:hover{
    content: url('./img/Almond_400x.webp');
    width: 100%;
    cursor: pointer;
}
.back2:hover{
    content: url('./img/ficheproduitgeneriqueNOV2023_pumpkinseed_400x.jpg');
    width: 100%;
    cursor: pointer;
}
.back3:hover{
    content: url('./img/ficheproduitgeneriqueNOV2023_QUINOA1_400x.jpg');
    width: 100%;
    cursor: pointer;
}
.bold{
    font-weight: bold;
    margin: 5px;
}
.bloc-produit{
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center{
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.defilement{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 600;
    color:rgb(74, 72, 72) ;
}
.defilement div{
    padding: 30px;
}
.defilement div:nth-child(1){
    border-bottom:2px solid #413f3f;
}
.red{
    color: #B82330;
}
.underline{
    text-decoration: line-through;
}
.bloc-produits{
    animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; 
}
@keyframes slide-top {
    0%{
       transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* ---------------------------------------------footer----------------------------------- */
.footer{
    margin-top: 150px;
    position: relative;
    padding: 50px;
    display: flex;
    gap: 100px;
    line-height: 2;
    background-color: #FFD8C5;
}
.footer2{
    display: flex;
    white-space: nowrap;
    gap: 20px;
}
.black{
    color:#413f3f;
    font-weight: 600;
    font-size: large;
}
.oiseau{
    position: absolute;
    right: 10px;
    top: -30%;
}
input[type=email]{
    padding: 15px 20px;
    border: 1px solid #6d6a6a;
    border-radius: 10px;
}
 ::placeholder{
    font-size: medium;
}
input[type=button]{
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #53555A;
}
.white{
    padding: 30px;
}
.white ul li{
    list-style-type: none;
}
.white ul:nth-child(1){
    margin-bottom: 15px;
}


@media screen and (max-width:992px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .produitflex{
        display: flex;
        flex-direction: column;
    }
    .bloc-produit,.bloc-produits,.bloc-produitss{
        width: 100%;
        padding: 20px;
        text-align: center;
        color:rgb(74, 72, 72) ;
    }
    .oiseau{
        position: absolute;
        right: 10px;
        top: -15%;
    }
    .defilement{
        display:flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
        margin-bottom: 10px;
        font-weight: 600;
        color:rgb(74, 72, 72) ;
    }
    .defilement div{
        padding: 0;
    }
    
}
/* .back{
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}
.text-hover{
    background-color: #ffa;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
.back:hover .text-hover{
    opacity: 0.8;
    display: block;
} */

